<% require 'date' %>

<%= render "shared/navbar" %>

<div class="container">
  <div class="row py-5">
    <div class="col-8">
      <h1>Dashboard: your bookings</h1>
      <p>You have <strong><%= Booking.count %></strong> bookings.</p>
    </div>
  </div>

  <div class="row">
    <% @user_bookings.order(:start_date).each do |booking| %>
      <div class="mb-4">
        <h2><%= booking.vehicle.name %> : starts in <%= (booking.start_date - Date.today).to_i %> days!</h2>
            <div class="col-8 dashboard-card <%= Booking.status_color_class(booking.status) %> dashboard-card-padding py-3">
              <%= link_to booking_path(booking) do %>
                <%= cl_image_tag(booking.vehicle.photo.key, alt: (booking.vehicle.name + "-picture"), id: "vehicle-picture", width: 400, height: 300, crop: :fill) %>
                  <% end %>
                    <div class="dashboard-card-infos">
                      <div>
                        <h3><%= booking.vehicle.name %></h3>
                        <p> Start date: <%= booking.start_date %> End date: <%= booking.end_date %></p>
                        <p> Your booking starts in <%= (booking.start_date - Date.today).to_i %> days </p>
                      </div>
                      <div>
                        <p>rented by <%= booking.user.email %></p>
                        <h3 class="dashboard-card-status"> Status: <%= booking.status %></h3>
                </div>
              </div>
            </div>
      </div>
    <% end %>
  </div>
    <%= link_to "Back to Vehicle selection", vehicles_path, class: "btn btn-secondary" %>
</div>
