<%= render "shared/navbar" %>

<div class="container">
  <div class="vehicle-show-flex">
    <div class="vehicle-show-img">
      <% if @booking.vehicle.photo.attached? %>
        <%= cl_image_tag(@booking.vehicle.photo.key, crop: :fill, class: "vehicle-show-img") %>
      <% else %>
        <%= cl_image_tag('eaa35mokrpgg4yg15ngp', crop: :fill, class: "vehicle-show-img") %>
      <% end %>
    </div>
    <div class="vehicle-show-right">
      <h3><%= @booking.vehicle.name %>  4.9 <i class="fa-sharp fa-solid fa-star"></i></h3>
      <i class="fa-solid fa-user"></i> <%= @booking.vehicle.passengers_capacity %><br>
      <p class="vehicle-show-description"><%= @booking.vehicle.description %></p>
      <strong>Cruising speed:</strong> <%= @booking.vehicle.cruising_speed.to_i %> km/h<br>
      <strong>Fuel type:</strong> <%= @booking.vehicle.fuel_type %><br>
      <strong>Ecological label:</strong> <%= @booking.vehicle.ecological_label %>

      <div class="vehicle-booking-card">
        <div>
          <h3>Booking Details</h3>
          <p><strong>Start Date:</strong> <%= @booking.start_date %><br>
          <strong>End Date:</strong> <%= @booking.end_date %></p>
          <h4>Total Price : <%= @booking.total_price.to_i %>€</h4>
        </div>
      </div>
      <div class="my-5">
        <%= link_to "Back to Dashboard", dashboard_path, class: "btn-airatp-lightblue" %>
      </div>
    </div>
  </div>
</div>
