<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class= "nav-begin">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("airatp-logo.png", alt: "Logo Airatp", id: "logo-nav") %>
      <% end %>
    </div>

    <div class="nav-filters">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <% if params[:vehicle_type]%>
              <a class="nav-link dropdown-toggle" id="vehicleTypeNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= content_tag :div, selected_type = "Vehicle type", class: "filter" %>
                <%= selected_type = params[:vehicle_type].capitalize %>
              </a>
            <% else %>
              <a class="nav-link dropdown-toggle" id="vehicleTypeNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= content_tag :div, selected_type = "Vehicle type", class: "filter" %>
              <%= "All" %>
              </a>
            <% end %>
            <div class="dropdown-menu" aria-labelledby="vehicleTypeNavbarDropdown">
              <%= link_to "All", vehicles_path, class:"dropdown-item" %>
              <%= link_to "Terrestrial", vehicles_path(vehicle_type: "terrestrial"), class:"dropdown-item" %>
              <%= link_to "Aerial", vehicles_path(vehicle_type: "aerial"), class:"dropdown-item" %>
              <%= link_to "Maritime", vehicles_path(vehicle_type: "maritime"), class:"dropdown-item" %>
              <%= link_to "Spatial", vehicles_path(vehicle_type: "spatial"), class:"dropdown-item" %>
            </div>
          </li>

          <%= form_with class: "entire-form", url: vehicles_path, method: :get do %>
          <div class="vertical-line-after-this input-width-small">
            <li class="nav-item active">
                  <%= text_field_tag :start_date,
                  params[:start_date],
                        id: "startDatePicker",
                        class: "form-control",
                        data: { controller: "navbar_datepicker" },
                        placeholder: "Select dates"
                %>
            </li>
          </div>

            <div class="vertical-line-after-this input-width-lg">
              <li class="nav-item active">
                <%= text_field_tag :passengers_capacity,
                  params[:passengers_capacity],
                  class: "form-control",
                  placeholder: "How many passagers?"
                %>
              </li>
            </div>

            <div class="vertical-line-after-this input-width-medium">

              <li class="nav-item active">
                  <%= text_field_tag :queryname,
                    params[:queryname],
                    class: "form-control",
                    placeholder: "Search a vehicle"
                    %>
              </li>
            </div>
              <li class="nav-item active">
                  <%= button_tag(type: "submit", id: "navbar-search-circle") do %>
                    <i id="navbar-search-icon" class="fa-solid fa-magnifying-glass"></i>
                  <% end %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>

    <div class="nav-end">
      <ul class="navbar-nav me-auto">
      <div class="buttons-log">
        <% if user_signed_in? %>
              <div class="nav-item dropdown">
                <%= image_tag "https://i.pinimg.com/474x/f3/24/08/f32408382ef9e9de1ef32ba0dc6ed007.jpg", class: "avatar-large dropdown-toggle", id: "profileNavbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profileNavbarDropdown">
                  <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
              </div>
            <% else %>
              <div id="suscribe" class="btn">
                <%= link_to "Suscribe", new_user_registration_path, class: "links" %>
              </div>
              <div id="connect" class="btn">
                <%= link_to "Connect", new_user_session_path, class: "links" %>
              </div>
            <% end %>
         </div>
        </div>
      </ul>
    </div>
  </div>
</div>
