<% require 'date' %>

<%= render "shared/navbar" %>

<div class="container footer-margin" data-controller="dashboard">
  <div class="tab-nav mb-4">
    <h1>Dashboard</h1>
    <ul class="nav nav-pills nav-justified border-bottom">
      <li class="nav-item">
        <a data-clicked="yourBookings" class="nav-link active" href="#" data-dashboard-target="yourBookingsSelect" data-action="click->dashboard#tabSelect">Your bookings</a>
      </li>
      <li class="nav-item">
        <a data-clicked="ownVehicles" class="nav-link" href="#" data-dashboard-target="ownVehiclesSelect" data-action="click->dashboard#tabSelect">Vehicles you own</a>
      </li>
      <li class="nav-item">
        <a data-clicked="pending" class="nav-link" href="#" data-dashboard-target="pendingSelect" data-action="click->dashboard#tabSelect">Waiting confirmations</a>
      </li>
      <li class="nav-item">
        <a data-clicked="confirmed" class="nav-link" href="#" data-dashboard-target="confirmedSelect" data-action="click->dashboard#tabSelect">Confirmed bookings</a>
      </li>
    </ul>
  </div>

  <div data-dashboard-target="ownVehiclesInfo" class="d-none">
    <div class="d-flex justify-content-between align-items-start">
      <h2>You own <strong><%= @user_vehicles.count %></strong> <%= 'vehicle'.pluralize(@user_vehicles.count) %></h2>
      <div class="btn-airatp-lightblue">
        <%= link_to "Add a vehicle", new_vehicle_path, class: "links" %>
      </div>
    </div>
    <% @user_vehicles.order(:name).each do |vehicle| %>
      <div class="col-8 card-vehicle">
        <div class="card-image-size">
          <% if vehicle.photo.attached? %>
            <%= cl_image_tag(vehicle.photo.key, alt: (vehicle.name + "-picture"), class: "card-image-size", crop: :fill) %>
          <% else %>
            <%= cl_image_tag('eaa35mokrpgg4yg15ngp', class: "card-image-size", crop: :fill) %>
          <% end %>
        </div>
        <div class="vehicle-description">
          <h3><%= vehicle.name %></h3>
          <p>
            <strong>Capacity:</strong> <%= vehicle.passengers_capacity %> <%= vehicle.passengers_capacity > 1 ? 'people' : 'person' %><br>
            <strong>Price:</strong> <%= vehicle.price_per_day.to_i %>€/day<br>
            <strong>Vehicle type:</strong> <%= vehicle.vehicle_type %><br>
            <strong>Ecological label:</strong> <%= vehicle.ecological_label %>
          </p>
          <% if @user == vehicle.user %>
            <div class="d-flex">
              <div class="btn-airatp-dark-gray dashboard-margin-bottom me-3"><%= link_to "Show vehicle", vehicle_path(vehicle), class:"links" %></div>
              <div class="btn-airatp-lightblue dashboard-margin-bottom me-3"><%= link_to "Edit vehicle", edit_vehicle_path(vehicle), class:"links" %></div>
              <div class="btn-airatp-redpink dashboard-margin-bottom"><%= link_to "Delete vehicle", vehicle_path(vehicle), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              },
              class:"links"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

    <div data-dashboard-target="yourBookingsInfo" class="mt-3 row">
      <div class="col-8">
        <h2>You have <strong><%= @user_bookings.count %></strong> bookings</h2>
      </div>
      <% @user_bookings.order(:start_date).each do |booking| %>
        <div class="mb-4">
          <h3><%= booking.vehicle.name %> : starts in <%= (booking.start_date - Date.today).to_i %> day!</h3>
          <%= link_to booking_path(booking), class: "links" do %>
            <div class="col-8 card-vehicle <%= Booking.status_color_class(booking.status) %>">
              <% if booking.vehicle.photo.attached? %>
                <%= cl_image_tag(booking.vehicle.photo.key, alt: (booking.vehicle.name + "-picture"), class: "card-image-size", crop: :fill) %>
              <% else %>
                <%= cl_image_tag('eaa35mokrpgg4yg15ngp', class: "card-image-size", crop: :fill) %>
              <% end %>
            <div class="vehicle-description">
              <h3><%= booking.vehicle.name %></h3>
              <p><strong>Start date:</strong> <%= booking.start_date %><br>
              <strong>End date:</strong> <%= booking.end_date %></p>
              <p>Your booking starts in <strong><%= (booking.start_date - Date.today).to_i %> day</strong></p>
                <div class="booking-status-text-right">
                  <h4 class="booking-card-status"><%= booking.status %></h4>
                  <p>rented by <%= booking.user.email %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  <div data-dashboard-target="pendingInfo" class="mt-3 row d-none">
    <div class="col-8">
      <h2><strong><%= @waiting_bookings.count %></strong> reservations to confirm</h2>
    </div>
    <% @waiting_bookings.order(:start_date).each do |booking| %>
      <div class="mb-4">
        <h3><%= booking.vehicle.name %> : starts in <%= (booking.start_date - Date.today).to_i %> days!</h3>
        <div class="col-8 booking-card <%= Booking.status_color_class(booking.status) %> booking-card-padding py-3">
          <%= link_to booking_path(booking) do %>
            <% if booking.vehicle.photo.attached? %>
              <%= cl_image_tag(booking.vehicle.photo.key, alt: (booking.vehicle.name + "-picture"), id: "vehicle-picture", width: 400, height: 300, crop: :fill) %>
            <% else %>
              <%= cl_image_tag('eaa35mokrpgg4yg15ngp', height: 300, width: 400, crop: :fill) %>
            <% end %>
          <% end %>
          <div class="booking-card-infos">
            <div>
              <h4><%= booking.vehicle.name %></h4>
              <p>Start date: <%= booking.start_date %> End date: <%= booking.end_date %></p>
              <p>Your booking starts in <%= (booking.start_date - Date.today).to_i %> days</p>
            </div>
            <div data-controller='update-status'>
              <h4 class="booking-card-status" data-update-status-target="status"><%= booking.status.capitalize %></h4>
              <% if @user == booking.vehicle.user && booking.status == "pending" %>
                <div data-update-status-target="buttons">
                  <%= link_to "Accept",
                    accept_booking_path(booking),
                    data: { turbo_method: :patch,
                    action: 'click->update-status#update' },
                    class:'btn btn-success' %>
                  <%= link_to "Reject",
                    reject_booking_path(booking),
                    data: { turbo_method: :patch,
                    action: 'click->update-status#update' },
                    class:'btn btn-danger' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div data-dashboard-target="confirmedInfo" class="mt-3 row d-none">
    <div class="col-8">
      <h2><strong><%= @validated_bookings.count %></strong> accepted bookings</h2>
    </div>
    <% @validated_bookings.order(:start_date).each do |booking| %>
      <div class="mb-4">
        <h3><%= booking.vehicle.name %> : starts in <%= (booking.start_date - Date.today).to_i %> days!</h3>
        <div class="col-8 booking-card <%= Booking.status_color_class(booking.status) %> booking-card-padding py-3">
          <%= link_to booking_path(booking) do %>
            <% if booking.vehicle.photo.attached? %>
              <%= cl_image_tag(booking.vehicle.photo.key, alt: (booking.vehicle.name + "-picture"), id: "vehicle-picture", width: 400, height: 300, crop: :fill) %>
            <% else %>
              <%= cl_image_tag('eaa35mokrpgg4yg15ngp', height: 300, width: 400, crop: :fill) %>
            <% end %>
          <% end %>
          <div class="booking-card-infos">
            <div>
              <h4><%= booking.vehicle.name %></h4>
              <p>Start date: <%= booking.start_date %> End date: <%= booking.end_date %></p>
              <p>Your booking starts in <%= (booking.start_date - Date.today).to_i %> days</p>
            </div>
            <div>
              <h4 class="booking-card-status"><%= booking.status %></h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
