<% require 'date' %>

<%= render "shared/navbar" %>

<div class="container" data-controller="dashboard">
  <div class="tab-nav mb-4">
    <h1>Dashboard</h1>
    <ul class="nav nav-pills nav-justified border-bottom">
      <li class="nav-item">
        <a data-clicked="yourBookings" class="nav-link active" href="#" data-dashboard-target="yourBookingsSelect" data-action="click->dashboard#tabSelect">Your bookings</a>
      </li>
      <li class="nav-item">
        <a data-clicked="ownVehicles" class="nav-link" href="#" data-dashboard-target="ownVehiclesSelect" data-action="click->dashboard#tabSelect">Vehicles you own</a>
      </li>
      <li class="nav-item">
        <a data-clicked="pending" class="nav-link" href="#" data-dashboard-target="pendingSelect" data-action="click->dashboard#tabSelect">Waiting confirmations</a>
      </li>
      <li class="nav-item">
        <a data-clicked="confirmed" class="nav-link" href="#" data-dashboard-target="confirmedSelect" data-action="click->dashboard#tabSelect">Confirmed bookings</a>
      </li>
    </ul>
  </div>

  <div data-dashboard-target="ownVehiclesInfo" class="d-none">
  <div class="title-own-vehicles d-flex justify-content-between">
      <h2>You own <strong><%= @user_vehicles.count %></strong> vehicles</h2>
      <%= link_to "Add a vehicle", new_vehicle_path, class: "btn-airatp-lightblue align-item-center" %>
  </div>
    <div class="d-flex flex-wrap">
      <% @user_vehicles.order(:name).each do |vehicle| %>
        <div class="mb-4 p-2 dashboard-vehicle-card-container">
          <div class="dashboard-vehicle-card d-flex flex-column">
            <% if vehicle.photo.attached? %>
              <div class="dashboard-vehicle-card-image d-flex justify-content-end" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(vehicle.photo.key, alt: (vehicle.name + "-picture"), id: "vehicle-picture", crop: :fill) %>')">
                <%#= link_to vehicle.name, vehicle_path(vehicle), class:"dashboard-vehicle-card-title align-self-center" %>
                <% if @user == vehicle.user %>
                  <div class="d-flex justify-content-end dashboard-vehicle-buttons align-self-end">
                    <%= link_to "Show vehicle", vehicle_path(vehicle), class:"btn btn-secondary" %>
                    <%= link_to "Edit vehicle", edit_vehicle_path(vehicle), class:"btn btn-primary" %>
                    <%= link_to "Delete vehicle", vehicle_path(vehicle), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
                    class:"btn btn-danger"%>
                  </div>
                <% end %>
              </div>
              <div></div>
            <% else %>
              <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path('eaa35mokrpgg4yg15ngp', alt: (vehicle.name + "-picture"), id: "vehicle-picture", crop: :fill) %>')">
                <h3 class="dashboard-vehicle-card-title"><%= vehicle.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div data-dashboard-target="yourBookingsInfo" class="mt-3 row">
    <div class="col-8">
      <h2>You have <strong><%= @user_bookings.count %></strong> bookings</h2>
    </div>
    <% @user_bookings.order(:start_date).each do |booking| %>
      <div class="mb-4">
        <h3><%= booking.vehicle.name %> : starts in <%= (booking.start_date - Date.today).to_i %> days!</h3>
        <div class="col-8 booking-card <%= Booking.status_color_class(booking.status) %> booking-card-padding py-3">
          <%= link_to booking_path(booking) do %>
            <% if booking.vehicle.photo.attached? %>
              <%= cl_image_tag(booking.vehicle.photo.key, alt: (booking.vehicle.name + "-picture"), id: "vehicle-picture", width: 400, height: 300, crop: :fill) %>
            <% else %>
              <%= cl_image_tag('eaa35mokrpgg4yg15ngp', height: 300, width: 400, crop: :fill) %>
            <% end %>
          <% end %>
          <div class="booking-card-infos">
            <div>
              <h4><%= booking.vehicle.name %></h4>
              <p> Start date: <%= booking.start_date %> End date: <%= booking.end_date %></p>
              <p> Your booking starts in <%= (booking.start_date - Date.today).to_i %> days </p>
            </div>
            <div>
              <p>rented by <%= booking.user.email %></p>
              <h4 class="booking-card-status"><%= booking.status %></h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div data-dashboard-target="pendingInfo" class="mt-3 row d-none">
    <div class="col-8">
      <h2><strong><%= @waiting_bookings.count %></strong> reservations to confirm</h2>
    </div>
    <% @waiting_bookings.order(:start_date).each do |booking| %>
      <div class="mb-4">
        <h3><%= booking.vehicle.name %> : starts in <%= (booking.start_date - Date.today).to_i %> days!</h3>
        <div class="col-8 booking-card <%= Booking.status_color_class(booking.status) %> booking-card-padding py-3">
          <%= link_to booking_path(booking) do %>
            <% if booking.vehicle.photo.attached? %>
              <%= cl_image_tag(booking.vehicle.photo.key, alt: (booking.vehicle.name + "-picture"), id: "vehicle-picture", width: 400, height: 300, crop: :fill) %>
            <% else %>
              <%= cl_image_tag('eaa35mokrpgg4yg15ngp', height: 300, width: 400, crop: :fill) %>
            <% end %>
          <% end %>
          <div class="booking-card-infos">
            <div>
              <h4><%= booking.vehicle.name %></h4>
              <p>Start date: <%= booking.start_date %> End date: <%= booking.end_date %></p>
              <p>Your booking starts in <%= (booking.start_date - Date.today).to_i %> days</p>
            </div>
            <div data-controller='update-status'>
              <h4 class="booking-card-status" data-update-status-target="status"><%= booking.status.capitalize %></h4>
              <% if @user == booking.vehicle.user && booking.status == "pending" %>
                <div data-update-status-target="buttons">
                  <%= link_to "Accept",
                    accept_booking_path(booking),
                    data: { turbo_method: :patch,
                    action: 'click->update-status#update' },
                    class:'btn btn-success' %>
                  <%= link_to "Reject",
                    reject_booking_path(booking),
                    data: { turbo_method: :patch,
                    action: 'click->update-status#update' },
                    class:'btn btn-danger' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div data-dashboard-target="confirmedInfo" class="mt-3 row d-none">
    <div class="col-8">
      <h2><strong><%= @validated_bookings.count %></strong> accepted bookings</h2>
    </div>
    <% @validated_bookings.order(:start_date).each do |booking| %>
      <div class="mb-4">
        <h3><%= booking.vehicle.name %> : starts in <%= (booking.start_date - Date.today).to_i %> days!</h3>
        <div class="col-8 booking-card <%= Booking.status_color_class(booking.status) %> booking-card-padding py-3">
          <%= link_to booking_path(booking) do %>
            <% if booking.vehicle.photo.attached? %>
              <%= cl_image_tag(booking.vehicle.photo.key, alt: (booking.vehicle.name + "-picture"), id: "vehicle-picture", width: 400, height: 300, crop: :fill) %>
            <% else %>
              <%= cl_image_tag('eaa35mokrpgg4yg15ngp', height: 300, width: 400, crop: :fill) %>
            <% end %>
          <% end %>
          <div class="booking-card-infos">
            <div>
              <h4><%= booking.vehicle.name %></h4>
              <p>Start date: <%= booking.start_date %> End date: <%= booking.end_date %></p>
              <p>Your booking starts in <%= (booking.start_date - Date.today).to_i %> days</p>
            </div>
            <div>
              <h4 class="booking-card-status"><%= booking.status %></h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
