<div class="container">
  <h1>Vehicles list</h1>
  <div class="cards-list d-flex flex-wrap">
    <% @vehicles.each do |vehicle| %>
      <div class="p-3">
        <div class="card">
          <% if vehicle.photo.attached? %>
            <%= cl_image_tag(vehicle.photo.key, height: 300, width: 400, crop: :fill) %>
          <% else %>
            <%= cl_image_tag('/r1rzia1lymr7cszrdumm', height: 300, width: 400, crop: :fill) %>
          <% end %>
          <div class="d-flex vehicle-description flex-column">
            <h2><%= link_to vehicle.name, vehicle_path(vehicle) %></h2>
            <p>Capacity: <%= vehicle.passengers_capacity %> <%= vehicle.passengers_capacity > 1 ? 'peoples' : 'person' %></p>
            <p>Price: <%= vehicle.price_per_day %>€/day</p>
            <p>Vehicle type: <%= vehicle.vehicle_type %></p>
            <p>Ecological label: <%= vehicle.ecological_label %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
