<%= render "shared/navbar" %>


<div class="container">

  <h1> <%= @vehicles.count%> vehicles available near you </h1>
  <div class="flexbox">
    <div>
      <% @vehicles.each do |vehicle| %>
        <div class="">
          <div class="p-3">
            <div class="card">
              <% if vehicle.photo.attached? %>
                <%= cl_image_tag(vehicle.photo.key, height: 300, width: 400, crop: :fill) %>
              <% else %>
                <%= cl_image_tag('/eaa35mokrpgg4yg15ngp', height: 300, width: 400, crop: :fill) %>
              <% end %>
              <div class="d-flex vehicle-description flex-column">
                <div>
                  <h3><%= vehicle.name %></h3>
                  <p>Capacity: <strong><%= vehicle.passengers_capacity %> <%= vehicle.passengers_capacity > 1 ? 'peoples' : 'person' %></strong></p>
                  <p>Price: <strong><%= vehicle.price_per_day %>€/day</strong></p>
                  <p>Vehicle type: <strong><%= vehicle.vehicle_type %></strong></p>
                  <p>Ecological label: <strong><%= vehicle.ecological_label %></strong></p>
                  <button class="filter-additional", id="modalTrigger">More details</button>
                </div>
                <div>
                  <div id="myModal" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="card-test-modal">
                          <div class="card-info">
                            <h3><%= vehicle.name %></h3>
                            <div class="center">
                            <i class="fa-solid fa-star">   4.9</i>
                            <i class="fa-solid fa-user-astronaut">      <%= vehicle.passengers_capacity%></i>
                            </div>
                            <p class="card-text mt-5"><%=vehicle.description%></p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="my-3">
                    <%= link_to "Choose this vehicle", vehicle_path(vehicle), class: "btn-airatp-lightblue" %>
                  </div>
                </div>

                <!-- The Modal -->

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="map-container"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var modaltrigger = document.getElementById("modalTrigger");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
modaltrigger.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
