<%= render "shared/navbar" %>

<div class="container mt-5">
  <div class="card-test">
    <div class="card-info">
      <h3 style="text-align: center"><%= @vehicle.name %></h3>
      <div class="center">
       <i class="fa-solid fa-star">   4.9</i>
       <i class="fa-solid fa-user-astronaut">      <%= @vehicle.passengers_capacity%></i>
      </div>
      <p class="card-text mt-5"><%=@vehicle.description%></p>
    </div>

     <%= image_tag "#{@vehicle.name.parameterize.underscore}.png", alt: "" %>

  </div>





<div class="booking">
  <div class="booking-info my-4">
    <h3 class="price-per-day">Price/day : <%= @vehicle.price_per_day %>€</h3>
    <h5> Cruising speed : <%= @vehicle.cruising_speed%></h5>
    <h5> Fuel type : <%= @vehicle.fuel_type%></h5>
  </div>

  <div class="line">
     <%= render 'bookings/form', vehicle: @vehicle %>
  </div>
</div>

  <div class="booking-info line" data-controller= "total-price">
    <h3 class="price-per-day">Total Price</h3>
      <span  id="number_of_days_display"></span><h4 data-value = "days" data-total-price-target= "total" ></h4>
  </div>
</div>


  <div class="my-3">
     <%= link_to "Back to Filtered Results", vehicles_path(vehicle_type: @vehicle.vehicle_type), class: "btn btn-secondary" %>
  </div>
