<%= render "shared/navbar" %>

<div class="container footer-margin" data-controller="total-price">
  <% if @user == @vehicle.user %>
    <div class="d-flex gap-3">
      <div>
        <%= link_to "Edit vehicle", edit_vehicle_path(@vehicle), class: "btn-airatp-lightblue links" %>
      </div>
      <div>
        <%= link_to "Delete vehicle", vehicle_path(@vehicle), class: "btn-airatp-redpink links", data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
      </div>
    </div>
  <% end %>
  <div class="vehicle-show-flex">
    <div class="vehicle-show-img">
    <% if @vehicle.photo.attached? %>
      <%= cl_image_tag(@vehicle.photo.key, alt: (@vehicle.name + "-picture"), crop: :fill, class: "vehicle-show-img") %>
    <% else %>
      <%= cl_image_tag('eaa35mokrpgg4yg15ngp', crop: :fill, class: "vehicle-show-img") %>
    <% end %>
    </div>
    <div class="vehicle-show-right">
      <h3><%= @vehicle.name %>  4.9 <i class="fa-sharp fa-solid fa-star"></i></h3>
      <i class="fa-solid fa-user"></i> <%= @vehicle.passengers_capacity %><br>
      <p class="vehicle-show-description"><%= @vehicle.description %></p>
      <strong>Cruising speed:</strong> <%= @vehicle.cruising_speed.to_i %> km/h<br>
      <strong>Fuel type:</strong> <%= @vehicle.fuel_type %><br>
      <strong>Ecological label:</strong> <%= @vehicle.ecological_label %>

      <div class="vehicle-booking-card">
        <div data-controller="datepicker">
            <%= render 'bookings/form', vehicle: @vehicle %>
        </div>
        </div>
        <div class="my-5">
        <%= link_to "Back to vehicles", vehicles_path, class: "btn-airatp-lightblue" %>
      </div>
      </div>
    </div>
  </div>
</div>
