<div class="container">
  <div class="card-test">
    <div class="card-info">
      <h3 style="text-align: center"><%= @vehicle.name %></h3>
      <div class="center">
       <i class="fa-solid fa-star">   4.9</i>
       <i class="fa-solid fa-user-astronaut">      <%= @vehicle.passengers_capacity%></i>
      </div>
      <p class="card-text mt-5"><%=@vehicle.description%></p>
    </div>
    <img src="https://cdn.discordapp.com/attachments/1168489400993316946/1176546352923148319/bohemond8467_sketching_in_black_and_white_of_a_spaceship_in_the_206b199c-b8cf-4c0a-95c9-62db69cf5e66.png?ex=656f432d&is=655cce2d&hm=e94713730ca3b191356663c2ae3537760e4396d91b5fefaf3b30959cef56072f&" alt="">
  </div>


<div class="booking">
  <div class="booking-info my-4">
    <h3><%= @vehicle.price_per_day %>€ per day</h3>
    <h5> Cruising speed : <%= @vehicle.cruising_speed%></h5>
    <h5> Fuel type : <%= @vehicle.fuel_type%></h5>
  </div>

  <div class="line data-controller="datepicker">
     <%= render 'bookings/form', vehicle: @vehicle %>
  </div>
</div>

  <div class="my-3">
     <%= link_to "Back to Filtered Results", vehicles_path(vehicle_type: @vehicle.vehicle_type), class: "btn btn-secondary" %>
  </div>
</div>
