<!DOCTYPE html>
<html>
  <head>
    <title>Airatp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet"><link rel="icon" href="/favicon.ico">

    <link rel="stylesheet" as="style" href="http://localhost:3000/assets/application-d8ae9e9f4f2b1361f69fd99ee2f3aae63eada90fb5e6fec6274f07e1548d185b.css">
    <script type="module" src="http://localhost:3000/assets/es-module-shims.min-4ca9b3dd5e434131e3bb4b0c1d7dff3bfd4035672a5086deec6f73979a49be73.js" defer></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
